@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  color: #e8e6e3;
  background-color: #181a1b;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.title {
  font-size: 50px;
  margin-bottom: -15px;
}

.topArea {
  text-align: center;
  font: inherit;
  font-family: 'Rubik';
}

.letterBox {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font: inherit;
  font-family: 'Rubik';
  width: 50%;
  height: 200px;
  resize: none;
  font-size: 18px;
  color: #e8e6e3;
  border: 2px solid #4b5154;
  background-color: #181a1b;
  border-radius: 8px;
  padding: 10px;
}

.letterBox2 {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font: inherit;
  font-family: 'Rubik';
  width: 50%;
  height: 200px;
  resize: none;
  font-size: 18px;
  color: #e8e6e3;
  border: 2px solid #4b5154;
  background-color: #181a1b;
  border-radius: 8px;
  padding: 10px;
}

.textArea1 {
  padding-top: 25px;
}

.textArea2 {
  padding-top: 20px;
}

.letterBox:focus,
.letterCount:focus,
.clearButton:focus,
.sourceButton:focus,
.letterBox2 {
  outline: none;
}

.clearButton,
.sourceButton {
  font-size: 22px;
  width: 175px;
  height: 60px;
  color: #e8e6e3;
  background: #5a5a5a;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font: inherit;
  font-family: 'Rubik';
}

.sourcelink {
  padding-top: 10px;
  font: inherit;
  font-family: 'Rubik';
}

.linkText {
  color: #e3e4e8;
}

.linkText:active {
  color: #e3e4e8;
}

.bottomText {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 25px;
}
