html,
body {
  font-family: 'Muli', sans-serif;
  color: #e8e6e3;
  height: 100%;
  text-align: center;
  background-color: #181a1b;
}

#title {
  font-size: 48px;
  margin-bottom: -15px;
}

#letterBox {
  width: 50%;
  height: 200px;
  resize: none;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  color: #e8e6e3;
  border: 2px solid #a0a0a0;
  background-color: #181a1b;
  border-radius: 8px;
  padding: 4px;
}

#letterBox2 {
  width: 50%;
  height: 200px;
  resize: none;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  color: #e8e6e3;
  border: 2px solid #a0a0a0;
  background-color: #181a1b;
  border-radius: 8px;
  padding: 4px;
}

#letterBox:focus,
#letterCount:focus,
#clearButton:focus,
#letterBox2 {
  outline: none;
}

#clearButton {
  font-family: 'Muli', sans-serif;
  font-size: 22px;
  width: 175px;
  height: 60px;
  color: #e8e6e3;
  background: hsl(175, 65%, 25%);
  border: none;
  cursor: pointer;
}

#sourcelink {
  padding-top: 10px;
}
